.venv/
models/
twitch_data/
.env
TWITCH_OAUTH_TOKEN
HF_TOKEN
*.safetensors
*.pt
*.bin
*.ckpt
*.model
.cache/
**/.cache/
**/huggingface/
**/huggingface_cache/
hf_cache/
.huggingface/
*.huggingface
tokenizers_cache.json
tokenizers_cache/
transforms_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
phi3_supertf_lora/